    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html,
    body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    }
    button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
    }
    button:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    }
    
    /* Navigation */

    nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
    }
    .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    }
    .icon{
    font-size: 20px;
    }

    /* Hero Section */
    .hero {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    }
    .hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .tag {
    background-color: #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
    }

    .hero-text h1 {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
    }
    .expl-btn {
    text-transform: capitalize;
    background: #ffc066;
    align-self: flex-start;
    }

    /* Features Section */
    .features {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    }
    .feature {
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
    }
    .feature img {
    width: 72px;
    }
    .feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    }
    .hr {
    border: 1px solid #ccc;
    margin: 20px 0;
    }

    /* Menu Section */
    #grid-align{
        margin: 0 auto;
    }
    .menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
    }
    .menu .tag {
    align-self: center;
    }

    .grid-img {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    }
    .grid-img:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    }
    .grid {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "I1 I1 I2 I3"
        "I1 I1 I2 I7"
        "I4 I5 I6 I7";
    }

    .img1 {
    grid-area: I1;
    }
    .img2 {
    grid-area: I2;
    }
    .img3 {
    grid-area: I3;
    }
    .img4 {
    grid-area: I4;
    }
    .img5 {
    grid-area: I5;
    }
    .img6 {
    grid-area: I6;
    }
    .img7 {
    grid-area: I7;
    }

    /* Footer Section */

    footer {
    background-color: #fff0db;
    display: flex;
    justify-content: center;
    }
    .link_lists h3 {
    margin-bottom: 10px;
    color: gray;
    }
    .link_lists ul {
    list-style: none;
    }
    .link_lists ul li {
    font-size: 16px;
    margin-bottom: 5px;
    }
    .news_letter h3 {
    margin-bottom: 10px;
    color: gray;
    }
    .news_letter input {
    padding: 5px 40px;
    margin-bottom: 10px;
    }
    .footer_container {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    gap:70px;
    }
    
    .footer_container img{
        width: 130px;
        height:70px;
    }
    .icon_container {
    display: flex;
    gap: 15px;
    font-size: 32px;
    }
    @media (max-width: 786px) {
        
    .hero {
        flex-direction: column;
    }

    .hero_img {
        display: flex;
        justify-content: center;
    }
    .hero_img img {
        width: 80%;
    }
    .hero_text {
        gap: 10px;

        padding: 0 20px;
    }
    .hero_text h1 {
        font-size: 32px;
    }
    .features {
        flex-direction: column;
    }
    .feature {
        flex-direction: column;
    }
    .grid {
        padding: 10px;
    }
    .grid-img {
        border-radius: 0px;
    }
    .footer{
        flex-direction: column;
    }
    }